<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的空间--注册用户 </title>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" type="text/css" rel="stylesheet">
</head>
<body>

<div class="col-lg-4 col-md-offset-2 register-left">
    <strong>广告位招租</strong>
</div>

<div class="col-md-3 col-md-offset-1 register-box">
    <form>
        <div class="form-group">
            <label for="NickName">昵称</label>
            <input class="form-control" name="nickName" id="nickName" placeholder="请填写昵称">
        </div>

        <div class="form-group">
            <label for="UserName">用户名</label>
            <input class="form-control" name="userNameR" id="userNameR" placeholder="请填写用户名">
        </div>
        <div class="form-group">
            <label for="Password">密码</label>
            <input type="password" class="form-control" name="passwordR" id="passwordR" placeholder="请填写密码">
        </div>

        <div class="form-group">
            <label for="Phone">电话</label>
            <input type="number" class="form-control" name="phone" id="phone" placeholder="请填写手机号码">
        </div>

        <div class="form-group">
            <label for="Email">邮箱</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="请填写邮箱">
        </div>
        <div><span class="errorR" style="color: red"></span></div>
        <div class="form-group">
            <button type="button" class="btn btn-primary btn-block" onclick="register()">注册并登录</button>
        </div>
        <div class="form-group">
            <span class="pull-left"><a href="/page/login">返回登录</a></span>
            <span class="pull-right"><a href="/index">返回首页</a></span>
        </div>
    </form>
</div>

</body>

<script type="text/javascript" src="/static/js/jquery.min-2.1.1.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>

</html>